<!-- HEADER PRINCIPAL -->
<header data-aos="fade-down"
  class="bg-white dark:bg-gray-900 shadow-md py-3 px-4 flex items-center justify-between sticky top-0 z-50">
  <!-- Logo -->
  <div class="flex items-center gap-2 text-main font-bold text-xl">
    <i class="fas fa-microchip"></i>
    <span>Zona Tecno</span>
  </div>

  <!-- Botón Hamburguesa (solo mobile) -->
  <!-- <button (click)="isDrawerOpen = true" class="text-2xl text-main md:hidden">
    <i class="fas fa-bars"></i>
  </button> -->

  <!-- Menú desktop -->
  <nav class="hidden md:flex justify-center items-center gap-8 text-sm text-text dark:text-gray-300">
    <a href="#"
      class="flex flex-col items-center text-xs hover:text-main transition-colors duration-200 hover:bg-main/10 px-2 py-1 rounded-md">
      <i class="fas fa-bolt text-lg"></i>
      <span>Ofertas</span>
    </a>
    <a href="#"
      class="flex flex-col items-center text-xs hover:text-main transition-colors duration-200 hover:bg-main/10 px-2 py-1 rounded-md">
      <i class="fas fa-desktop text-lg"></i>
      <span>Computadoras</span>
    </a>
    <a href="#"
      class="flex flex-col items-center text-xs hover:text-main transition-colors duration-200 hover:bg-main/10 px-2 py-1 rounded-md">
      <i class="fas fa-memory text-lg"></i>
      <span>Placas de video</span>
    </a>
    <a href="#"
      class="flex flex-col items-center text-xs hover:text-main transition-colors duration-200 hover:bg-main/10 px-2 py-1 rounded-md">
      <i class="fas fa-microchip text-lg"></i>
      <span>Microprocesadores</span>
    </a>
  </nav>


  <!-- Search + Iconos -->
  <div class="flex items-center gap-4">
    <!-- Search -->
    <div class="relative hidden md:block">
      <input type="text" placeholder="Buscar..."
        class="pl-10 pr-4 py-2 text-sm rounded-full bg-border dark:bg-gray-800 text-text dark:text-white focus:outline-none focus:ring-2 focus:ring-main" />
      <i class="fas fa-search absolute left-3 top-2.5 text-text dark:text-white text-sm"></i>
    </div>

    <!-- Login -->
    <button class="text-text dark:text-white hover:text-main">
      <i class="fas fa-user"></i>
    </button>

    <!-- Carrito con contador animado -->
    <button class="relative text-text dark:text-white hover:text-main">
      <i class="fas fa-shopping-cart text-xl"></i>
      <span
        class="absolute -top-2 -right-2 bg-main text-white text-[10px] font-semibold leading-none rounded-full w-5 h-5 flex items-center justify-center"
        [ngClass]="{ 'animate-pop': carritoAnimando }" (animationend)="carritoAnimando = false">
        {{ carritoTotal }}
      </span>
    </button>



    <!-- Modo oscuro -->
    <!-- <button class="text-text dark:text-white hover:text-main" (click)="toggleDarkMode()">
      <i class="fas fa-moon"></i>
    </button> -->
  </div>
</header>
