/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


:root {
    --main-color: #dd0e7c;
    --secondary-color: #6b1d68;
    --background-color: #f9fafb;
    --text-color: #27272a;
    --border-color: #fcd6e2;
    --hover-color: #c6006d;
  }
  